[KdmGreeterTheme]
Greeter=imera.xml
Name=aptosid-imera
Description=aptosid 2011-01 imera KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png
